body{
  background-color: rgb(44, 43, 43);
}
  .main-container{
    width: 321px;
    height: 495px;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 5%;
  }
  .calcButtons{
  background-color: rgba(111, 110, 110, 0.87);
  display:grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  padding: 5px,; 
  height: 403px;
  border-radius: 15px;
}


.decimal{
  margin-left: 80px;
  width: 80px;
  font-size: 30px;
  padding: 5px;
}

.equals{
  margin-left: 80px;
  width: 80px;
  padding:5px;
  color: blueviolet;
  font-size: 20px;
}

.zero{
  height: 80px;
  width: 160px;
}

.negative{
  color: blueviolet;
  font-size: 20px;
}

.clear{
  color: blueviolet;
}
.percent{
  color: blueviolet;
  font-size: 20px;
}
.divide{
  color: blueviolet;
  font-size: 20px;
}
.multiply{
  color: blueviolet;
  font-size: 30px;
  text-align: center;
}
.minus{
  color: blueviolet;
  font-size: 20px;
}
.add{
  color: blueviolet;
  font-size: 20px;
}
/* .operators{
  display:grid;
  grid-template-rows: repeat(4, 80px);
  width: 80px;
  font-size: 90px;
} */
.wireframe{
  height:auto;
  width: auto;
}
.inputWindow{
  display:flex;
  height: 80px;
  width: 315px;
  border-radius: 10px;
  border-style: solid; 
  border-color: rgba(87, 85, 85, 0.725);
  /* border-color: rgba(240, 236, 236, 0.725); */
  font-size: 75px;
  justify-content: end;
  color: rgb(42, 45, 84);
  background-color: rgba(135, 137, 173, 0.87);
  
}

button{
  border-radius: 10px;
  background-color: rgba(236, 236, 238, 0.904);
}

button:hover{
background-color: rgb(203, 203, 208);
}

button:active{
  background-color: rgba(19, 5, 66, 0.422);
}